Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
*.swp
._*
.Spotlight-V100
.Trashes
.idea/
*.ipr
*.iml
*.iws
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
deploy.bat